#news
	background-color: black
	color: white
	.newsfeed
		width: 80%
		margin: auto
	p 
		font-size: 30px
	.carousel-control-prev-icon
		font-size: 68px  !important
		height: 68px
		line-height: 42px
